<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/auth-style.css">
    <title>Under Sec | Sign in</title>
</head>
<body>
    <div class="error""><% if(signinError) { %><label><%= signinError %></label><% } %>
    </div>
    <div class="signin-container">
        <form class="info-form" action="/auth/signin" method="post">
            <h1>Welcome</h1>
            <input class="form-input" type="text" name="email" placeholder="Email">
            <input class="form-input" type="password" name="password" placeholder="Password">
            <button class="form-button">Sign in</button>
        </form>
        <div class="altern-form">
            <label>or continue with</label>
            <div class="form-options">
                <form action="/auth/google" method="get">
                    <button><img src="/images/google.png" alt="Google image"></button>
                </form>
                <form action="/auth/facebook" method="get">
                    <button><img src="/images/facebook.png" alt="Facebook image"></button>
                </form>
            </div>
            <label>Don't have an account yet? <a href="/auth/signup">Create account</a></label>
        </div>
    </div>
</body>
</html>