<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/auth-style.css">
    <title>UNDER SEC | Sign up</title>
</head>
<body>
    <div><% if(signupError) { %><label><%= signupError %></label><% } %>
    <div><% if(signupSuccess) { %><label><%= signupSuccess %></label><% } %>
    </div>
    <div class="signup-container">
        <form class="info-form" action="/auth/signup" method="post">
            <h1>Create an account</h1>
            <input class="form-input" type="text" name="username" placeholder="Username">
            <input class="form-input" type="text" name="email" placeholder="Email">
            <input class="form-input" type="password" name="password" placeholder="Password">
            <button class="form-button">Sign up</button>
        </form>
        <div class="altern-form">
            <label>or continue with</label>
            <div class="form-options">
                <form action="/auth/google" method="get">
                    <button><img src="/images/google.png" alt="Google image"></button>
                </form>
                <form action="/auth/facebook" method="get">
                    <button><img src="/images/facebook.png" alt="Facebook image"></button>
                </form>
            </div>
            <label>Already have an account? <a href="/auth/signin">Sign in</a></label>
        </div>
    </div>
</body>
</html>